body { 
	background: yellow;


}


ul {
	pading: 0;

}

li {
	list-style: none;
}

a {
	display: block;
	background: #000;
	color: gold;
	text-align: centrer;
	text-decoration: none;
	text-transform:uppercase;
	font-size: 40px;
	width: 20%;
	float: left;
}


h1 {
	text-align: center;
}